<div class="row justify-content-center login">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>New Hub</strong>
        <%= link_to 'Back', hubs_path, class:  'btn btn-sm btn-primary pull-right'%>
      </div>
      <%= render 'form', hub: @hub %>
    </div>
  </div>
</div>