# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: eee74f7e9913a177c37393a6074b7f50649335b435d128a4aa1b119d7095c8e96703c6d586d10c8f3dd6ec476ecf4aaad98e616ac55b02068024a2d1e0ebd833

test:
  secret_key_base: 1ed6c48117dbc2d939adab62feb081c4cbf51275fb257d2a0cebac1b867d4e859f43624d3700666b515467660bdc52a6898c7e2092d5a38cbcba062d524ae4ab

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
