<div class="form-group">
  <label class="col-form-label" for="appendedInputButton">Search </label>
  <div class="controls">
    <div class="input-group">
      <input id="appendedInputButton" class="form-control" size="16" type="text">
      <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                          </span>
    </div>
  </div>
</div>