<div class="row justify-content-center login">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Editing Plan</strong>
        <div class="pull-right">
          <%= link_to 'Show', @plan, class:  'btn btn-sm btn-primary'%>
          <%= link_to 'Back', plans_path, class:  'btn btn-sm btn-danger'%>
        </div>
      </div>
      <%= render 'form', plan: @plan %>
    </div>
  </div>
</div>