<div class="animated fadeIn">
  <div class="card">

    <div class="card-body row">
      <h4 class="card-title col-10">Plan Details</h4>
      <div class="col-2 text-right">
        <%= link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-primary' %>
        <%= link_to 'Back', plans_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <ul class="list-group list-group-flush show-list-group">
      <li class="list-group-item"><strong>Name: </strong> <%= @plan.name %></li>
      <li class="list-group-item"><strong>Cost: </strong> <%= number_to_currency(@plan.cost, :unit => "BDT ", :separator => ".", :delimiter => ",") %></li>
    </ul>
  </div>
</div>