<div class="row justify-content-center login">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Edit Password</strong>
        <div class="pull-right">
          <%#= link_to 'Show User', @user, class:  'btn btn-sm btn-primary'%>
          <%= link_to 'Back', user_details_path, class:  'btn btn-sm btn-primary'%>
        </div>
      </div>
      <%= render 'edit_password_form', user: @user %>
    </div>
  </div>
</div>